.jumbotron{
    background-image: url('/images/image\ \(1\).jpg') !important;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}


.h1 {
    color: white !important;
    text-shadow: 2px 2px 4px #ffffff !important;
  }

  .card1{
    border-bottom: 20px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19) !important;
  }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .card1 {
      width: 100% !important;
    }
  }

  